{% extends "admin/base.html" %}
{% load admin_static %}

{% block sidebar %}

{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
{% endblock %}

{% block extrajs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
{% endblock %}

{# Footer links (left side) #}
{% block footer_links %}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
Copyright &copy; 2017 ConBits<br>Desenvolvido por <a href="http://conbits.com.br" target="_blank">ConBits</a>
{% endblock %}