{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{#{% block extrastyle %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block coltype %}colMS{% endblock %}#}
{##}
{#{% block bodyclass %}dashboard{% endblock %}#}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Início</a>
            <span class="divider">»</span>
        </li>
        <li class="active">Listar Associados</li>
    </ul>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="inner-center-column">
            <div class="module filtered" id="changelist">
                <div class="toolbar-content clearfix">
                    <div id="toolbar" class="clearfix">
                        <form class="form-inline" method="post" action="{% url 'rel-cad' %}">
                            {% csrf_token %}
                            <div class="search-container">
                                <div class="form-group">
                                    <label for="selectFamilia">Selecione a família</label>
                                    <span class="search-filters">
                                    <select class="selectpicker" data-live-search="true" id="selectFamilia" name="selectFamilia"
                                            style="max-width: 400px">
                                        {% for familia in familias %}
                                            <option value="{{ familia.pk }}">{{ familia.nome }}</option>
                                        {% endfor %}
                                    </select>
                                    </span>
                                    <button type="submit" class="btn btn-info">Listar</button>
                                </div>
                            </div>
                        </form>
                        {% if lista != None %}
                            <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="text">
                                                Nome
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="text">
                                                Família(s)
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="text">
                                                Email
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for associado in lista %}
                                        <tr class="row1">
                                           <td class="field-nome">{{ associado.nome }}</td>
                                           <td class="field-familia">
                                               {% for f in associado.associadofamilia_set.all %}
                                                 {{ f.familia }}
                                               {% endfor %}
                                           </td>
                                           <td class="field-email">{{ associado.email }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
