#id_nome {
  text-transform: uppercase;
}

#id_endereco {
  text-transform: uppercase;
}

#id_numero {
  text-transform: uppercase;
}

#id_complemento {
  text-transform: uppercase;
}

#id_bairro {
  text-transform: uppercase;
}

#id_cidade {
  text-transform: uppercase;
}

#id_uf {
  text-transform: uppercase;
}